<div class="main__page-title-container">
    <h2 class="main__page-title"><%= article.title %></h2>
</div>

<section class="main__content article__container">

    <ul class="categories__list">

        <% for (const { _id, name } of articleCategories) { %> 
            <li class="categories__item">
                <a class="category" id="category-<%= _id %>" href="categories/<%= _id %>">
                    <%= name %>
                </a>
                <div class="category__hover"></div>
            </li> 
        <% } %> 
    </ul>

    <div class="article__content"><%= article.content %></div>

    <a href="articles/1/quizz" class="button button--accent">Questionnaire</a>
                    
</section>