<div class="main__page-title-container">
    <h2 class="main__page-title"><%= article.title %></h2>
    <h3><%= quizz.question %></h3>
</div>

<section class="main__content quizz__container">

    <ul class="choices__list">

        <li class="choices__entry">
            <label for="<%= quizz.C1.label %>" class="custom-checkbox custom-checkbox--with-label">
                <input type="checkbox" id="<%= quizz.C1.label %>" name="<%= quizz.C1.label %>" class="" value="<%= quizz.C1.label %>">
                <span class="custom-checkbox--marker"></span>
                <span class="custom-checkbox__label">
                    <%= quizz.C1.label %>
                </span>
            </label>
        </li>

        <li class="choices__entry">
            <label for="<%= quizz.C2.label %>" class="custom-checkbox custom-checkbox--with-label">
                <input type="checkbox" id="<%= quizz.C2.label %>" name="<%= quizz.C2.label %>" class="" value="<%= quizz.C2.label %>">
                <span class="custom-checkbox--marker"></span>
                <span class="custom-checkbox__label">
                    <%= quizz.C2.label %>
                </span>
            </label>
        </li>        
        
    </ul>

    <a href="/article/<%= article._id %>" class="button button--accent">Retour à l'article</a>
    <button type="submit" class="button button--muted">Soumettre</button>
                    
</section>